<?xml version="1.0" encoding="UTF-8"?>  
<config>      
    <modules>  
        <Bdb_Page>  
            <version>0.1.0</version>  
        </Bdb_Page>  
    </modules>  
    <frontend>  
        <routers>  
            <bdbpage>  
                <use>standard</use>  
                <args>  
                    <module>Bdb_Page</module>  
                    <frontName>bdbpage</frontName>  
                </args>  
            </bdbpage>  
        </routers> 
        <layout>
            <updates>
                <bdbpage module="Bdb_Page">
                    <file>bdbpage.xml</file>
                </bdbpage>
            </updates>
        </layout>   
    </frontend>  
</config> 