<?xml version="1.0" encoding="UTF-8"?>  
<config>      
    <modules>  
        <Vt_Qghappy>  
            <version>0.2.0</version>  
        </Vt_Qghappy>  
    </modules>
    <frontend>  
        <routers>  
            <qghappy>  
                <use>standard</use>  
                <args>  
                    <module>Vt_Qghappy</module>  
                    <frontName>qghappy</frontName>  
                </args>  
            </qghappy>  
        </routers>
        <layout>
            <updates>
                <qghappy module="Vt_Qghappy">
                    <file>vt/local.xml</file>
                </qghappy>
            </updates>
        </layout>    
    </frontend>    
</config>  